<!DOCTYPE html>
<html>
<head>
<style>
img {
  width: 100%;
}
</style>
</head>
<body>
<link rel="stylesheet" href="style.css">
<img src="images.jpeg"width="100" height="200" >
<link rel="stylesheet" href="style.css">
<center><p><h1 style="color:green;">Nutrition Assistant Application</h1></p></center>
    
   <a href="/logout"><button>Logout</button></a>
      <a href="/delete"><button>Delete Account</button></a>
   <a href="profile.html"><button>profile</button></a></p> 
      <a href="login.html"><button>Login</button></a></p> 
       <form method="POST" action="">
      <center> <label for="file-upload" class="custom-file-upload">
          Upload Food Image
        </label></center>
        <input id="file-upload" type="file" name="food"/>
        <input type="submit" value="Submit" />
      </form>

  </body>
</html>